<mat-toolbar color="accent" class="shadow fw-bold">
    <span class="logo"></span>
    <span class="logoname"><mat-icon>hotel</mat-icon>Step-Into-Haven</span>
    <span class="spacer"></span>
    <div class="nav-links">
      <input class="in" type="text" placeholder="Near me" ><a href=""><mat-icon>search</mat-icon></a>
      <a href=""><mat-icon>room</mat-icon> Room</a>
      <a href=""><mat-icon>how_to_reg</mat-icon>Sign In</a>
      <a href=""><mat-icon> live_help</mat-icon>Help</a>
    </div>
  </mat-toolbar>
